In [ ]:
import pyoecd

# latest update date
# number of observations

In [ ]:
hits = pyoecd.search_keywords(['gross domestic product', 'tl2', 'tl3'])
hits.head()

,agencyID,dataflowID,name,description
75,OECD.CFE.EDS,DSD_REG_ECO@DF_GDP,Gross domestic product - Regions,This dataset provides indicators on gross dome...
73,OECD.CFE.EDS,DSD_REG_ECO@DF_ECO,Economic statistics - Regions (for 'Developer ...,This dataset provides regional economic accoun...
82,OECD.CFE.EDS,DSD_REG_ECO_ROPI@DF_ECO_ROPI,Economic statistics ROPI-adjusted for inflatio...,This dataset provides economic statistics in r...
79,OECD.CFE.EDS,DSD_REG_ECO@DF_TRAD,International trade - Regions,This dataset provides indicators on internatio...
83,OECD.CFE.EDS,DSD_REG_ECO_ROPI@DF_GDP_ROPI,Real gross domestic product (ROPI-adjusted for...,This dataset provides statistics on real gross...

In [13]:
my_dataset = 'Gross domestic product - Regions'
agency = 'OECD.CFE.EDS'
dataflow = 'DSD_REG_ECO@DF_GDP'

In [ ]:
s = pyoecd.get_structure(agency, dataflow)

In [15]:
s.toc # table of contents

   id              title                                             values
0   1               FREQ                                                [A]
1   2  TERRITORIAL_LEVEL                                   [CTRY, TL2, TL3]
2   3           REF_AREA  [AT11, AT111, AT112, AT113, AT12, AT121, AT122...
3   4   TERRITORIAL_TYPE                                               [_Z]
4   5            MEASURE                           [EMP, GDP, POP, PPP_GDP]
5   6           ACTIVITY                                               [_T]
6   7             PRICES                                      [_Z, D, Q, V]
7   8       UNIT_MEASURE  [IX, PS, USD, USD_PPP, USD_PPP_PS, USD_PPP_WR,...

In [16]:
s.explain_vals('PRICES')

{'_Z': 'Not applicable',
 'D': 'Deflator',
 'Q': 'Constant prices',
 'V': 'Current prices'}

In [17]:
s.explain_vals('UNIT_MEASURE')

{'IX': 'Index',
 'PS': 'Persons',
 'USD': 'US dollar',
 'USD_PPP': 'US dollars, PPP converted',
 'USD_PPP_PS': 'US dollars per person, PPP converted',
 'USD_PPP_WR': 'US dollars per worker, PPP converted',
 'USD_PS': 'US dollars per person',
 'XDC': 'National currency',
 'XDC_PS': 'National currency per person',
 'XDC_USD': 'National currency per US dollar',
 'XDC_WR': 'National currency per worker'}

In [18]:
filters = {
    'territorial_level': ['tl2', 'tl3'], # lists for multiple values
    'measure': 'gdp',
    'PRICES': 'Q', # uppercase or lowercase, both work
    'unit_measure': 'USD_PPP_PS'
}

In [ ]:
df = pyoecd.get_df(agency, dataflow, filters)

In [20]:
df.head()

,DATAFLOW,FREQ,TERRITORIAL_LEVEL,REF_AREA,TERRITORIAL_TYPE,MEASURE,ACTIVITY,PRICES,UNIT_MEASURE,TIME_PERIOD,OBS_VALUE,COUNTRY,OBS_STATUS,REF_YEAR_PRICE,UNIT_MULT,DECIMALS,CURRENCY
0,OECD.CFE.EDS:DSD_REG_ECO@DF_GDP(2.0),A,TL3,US156,_Z,GDP,_T,Q,USD_PPP_PS,2023,60999.9,USA,A,2020,0,0,USD
1,OECD.CFE.EDS:DSD_REG_ECO@DF_GDP(2.0),A,TL3,US100,_Z,GDP,_T,Q,USD_PPP_PS,2023,44436.6,USA,A,2020,0,0,USD
2,OECD.CFE.EDS:DSD_REG_ECO@DF_GDP(2.0),A,TL3,US088,_Z,GDP,_T,Q,USD_PPP_PS,2023,54311.0,USA,A,2020,0,0,USD
3,OECD.CFE.EDS:DSD_REG_ECO@DF_GDP(2.0),A,TL3,US179,_Z,GDP,_T,Q,USD_PPP_PS,2023,61310.8,USA,A,2020,0,0,USD
4,OECD.CFE.EDS:DSD_REG_ECO@DF_GDP(2.0),A,TL3,US072,_Z,GDP,_T,Q,USD_PPP_PS,2023,75360.9,USA,A,2020,0,0,USD

In [23]:
list(s.concepts.keys())

['DIMENSIONS',
 'ACTIVITY_ISIC4',
 'AGE',
 'AREA',
 'CURRENCY',
 'EDUCATION_LEV_ISCED11',
 'PRICES',
 'REGIONAL',
 'SECTOR',
 'SEX',
 'STATISTICAL_OPERATION',
 'TRADE_FLOW',
 'UNIT_MEASURE',
 'BUS_TYPE',
 'HEAT_STRESS',
 'MEASURE',
 'ORIGIN',
 'PM_CONCENTRATION',
 'RET_PERIOD',
 'TERRITORIAL_LEVEL',
 'TERRITORIAL_TYPE',
 'DECIMALS',
 'FREQ',
 'OBS_STATUS',
 'UNIT_MULT']